/*****************************************/
/*** GENERAL STYLES ***/
/****************************************/
* {
    font-family: Lato;
    box-sizing: border-box;
}
img {
    display: block;
    max-inline-size: 100%;
}

.btn {
    padding: 1em 3em;
    border-radius: 0.4em;

    background-color: var(--color-dark-green);
    color: var(--color-white);
    font-size: 0.65em;
    text-decoration: none;

    cursor: pointer;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

.hidden {
    display: none !important;
}

/*****************************************/
/*** DROPDOWN ***/
/****************************************/
.poutama {
    width: 100%;
    border: 0.25rem var(--color-dark-green) solid;
    background-color: var(--color-dark-green);
    object-fit: cover;
}

.dropdown {
    position: fixed;
    top: 8.5%;
    right: 0;
    z-index: 101;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    background-color: var(--color-main-turq);
    box-shadow: -0.1em 1em 0.7em var(--color-black);
}

.dropdown .poutama {
    height: 28vh;
    border: 0.1em var(--color-dark-green) solid;
}

.dropdown .poutama p {
    position: relative;
    bottom: 5vh;
    padding: 0.8em;
    margin: 0;

    background-color: var(--color-dark-green);
    font-size: 0.8rem;
    text-decoration: underline;
    text-align: center;
}

.poutama.top {
    grid-row-start: 1;
}
.poutama.middle {
    grid-row-start: 2;
}
.poutama.bottom {
    grid-row-start: 3;
}
.poutama.right {
    grid-column-start: 3;
}
.poutama.centre {
    grid-column-start: 2;
}
.poutama.left {
    grid-column-start: 1;
}

/*****************************************/
/*** FOOTER ***/
/****************************************/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--color-main-turq);
    font-size: 0.9rem;
}

footer .poutama {
    height: 100px;
}

footer .poutama-content {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
}

footer .logo {
    margin: 0.7em 1em;
    max-width: 400px;
    filter: invert(1);
}

footer .contact-info {
    margin: 0 33% 0 1%;
    color: var(--color-white);
}
footer .contact-info > p {
    text-decoration: underline;
}
.contact-info img {
    display: inline;
    filter: invert(1);
}
footer .contact-info > a {
    display: block;
    margin: 1em 0;
}
footer .contact-info > a:last-of-type {
    width: 45%;
}

footer .external-links {
    grid-row-start: 2;
    grid-column-start: -2;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    width: 75%;
    margin: 0 auto;
}

.site-map {
    grid-row-start: 3;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 7%;
}
.site-map .links {
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.site-map .links:nth-of-type(2) {
    grid-column-start: 2;
}
.site-map .links:first-of-type {
    grid-row-start: 2;
}

.site-map .links > p {
    font-weight: bold;
}

.links a {
    color: var(--color-black);
}
.links a + a {
    margin-top: 10%;
}

.site-map .links > a::before {
    content: "> ";
}
.site-map .links > a:hover {
    text-decoration: underline var(--color-accent-gold);
}

footer .copyright-notice {
    grid-column: 1 / -1;
    font-size: 0.7rem;
    justify-self: center;
    width: 70%;
    text-align: center;
}
.copyright-notice a {
    color: var(--color-black);
    text-decoration: underline;
}

/*****************************************/
/*** GROUPS ***/
/****************************************/
.group-info {
    padding: 1.5em 1em 0em 1em;
    background-color: var(--color-dark-green-light);
    font-size: 1.2rem;
}

group-info-card:not(.current) {
    display: none;
}

.group-name {
    font-weight: 900;
    font-size: 2.2rem;
    text-transform: uppercase;
    margin: 0;
}

.group-coord {
    text-transform: uppercase;
    margin: 0;
}

.group-coord .bold {
    font-weight: 700;
}

.group-info .btn {
    border-radius: 100px;
    font-size: 0.9rem;
}

.group-info .times {
    font-weight: 700;
    font-style: italic;
}

.group-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    max-width: 700px;
}

.group-img {
    border: 0.25rem var(--color-accent-gold) solid;
    width: 90%;
    position: relative;
    top: -30%;
    margin: 2em;
}

.group-img:nth-child(1) {
    rotate: -10deg;
}
.group-img:nth-child(n + 2) {
    rotate: 10deg;
}
.group-img:nth-child(2) {
    top: 0;
}

/*****************************************/
/*** STAFF ***/
/****************************************/
.info-card {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;

    display: none;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    width: 85%;
    padding: 1em 0 2.5em 0;

    background-color: var(--color-dark-green);
    box-shadow: 0 0 1em 0.1em var(--color-black);
    color: white;
    text-align: center;
}

.info-card-show {
    display: grid;
}

.info-card .details > * {
    margin: 0;
}

.details .name {
    font-weight: 900;
    font-size: 100%;
    text-transform: uppercase;
}

.details .role {
    font-weight: 700;
}

.details .contact {
    font-weight: 300;
    font-size: 65%;
    font-style: italic;
}

.info-card .profilePic {
    width: 40%;
    max-width: 135px;
    border-radius: 100%;
}

.info-card .bio {
    grid-column: 1 / -1;
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    text-align: left;
}

.info-card .exit-card {
    position: absolute;
    top: 0.1em;
    right: 0.2em;
    margin: 0;
    font-size: 1.5rem;
    color: red;
}



/*****************************************/
/*** MEDIA QUERIES ***/
/****************************************/
@media (min-width: 767px) {
    /*****************************************/
    /*** DROPDOWN ***/
    /****************************************/
    .dropdown .poutama {
        height: 30vh;
    }

    /*****************************************/
    /*** FOOTER ***/
    /****************************************/
    footer {
        grid-template-columns: repeat(5, 1fr);
        padding-right: 2%;
        font-size: 1.3rem;
    }

    footer .poutama {
        height: 125px;
    }

    footer .external-links {
        grid-row: 1;
        grid-column: 4 / -1;
        display: flex;
        justify-content: space-evenly;
        gap: 15%;
    }

    footer .site-map {
        grid-row: 2 / 4;
        grid-column: 3 / -1;
        margin-top: 0;
    }

    .site-map .links:first-of-type {
        grid-row-start: 1;
    }
    .site-map .links:nth-of-type(2) {
        grid-column-start: 2;
    }
    .site-map .links:nth-of-type(3) {
        grid-column-start: 3;
    }

    footer .copyright-notice {
        grid-row: 3;
        align-self: end;
        justify-self: end;
    }
}