.course {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center;
    padding: 2em 1em 2em 1em;

    scroll-margin-top: 50px;
} 

.course-links {
    position: sticky;
    top: 9%;
    z-index: 99;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 75%;
    padding: 0.5em;
    background-color: var(--color-main-turq);
}
.course-links.hidden {
    display: none;
}
.menu {
    height: 50px;
    width: 50px;
    position: sticky;
    top: 9%;
    z-index: 100;
}
.course-links a {
    font-size: 1rem;
    color: var(--color-dark-green);
    font-weight: bold;
    margin-bottom: 1em;
}
.course-links a:hover {
    text-decoration: underline;
}

.course-name {
    grid-column: 1 / -1;
    justify-items: center;

    margin-bottom: 2em;
}

.course-name p {
    font-weight: 300;
    margin: 0;
}
.course-name .desc {
    margin-top: 0.7em;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
}
.course-name h2 {
    margin: 0;
}
.course-name h2::before, .course-name h2::after {
    content: '';
    border-bottom: 3px var(--color-accent-gold) solid;
    position: absolute;
    width: 35vw;
}
.course-name h2::before {
    left: 0;
}
.course-name h2::after {
    right: 0;
}

.text ul, .text .skills {
    font-size: 0.85em;
}

.skills .skill-name {
    font-weight: bold;
    font-size: 0.95em;
}

.course {
    grid-template-columns: 1fr;
}

.collapse {
    grid-row-start: 3;
    grid-column: 1 / -1;
}

.collapsed {
    display: none;
}

.assessments {
    justify-self: center;
    color: white;
    font-size: 0.9rem;
    padding: 0;
    border-collapse: collapse;
    border: 7px solid var(--color-dark-green);
}
.assessments tr > td:nth-child(n + 3) {
    text-align: center;
}
.assessments tr:nth-child(odd), .assessments .section:nth-child(odd) {
    background-color: var(--color-dark-green-light); 
}
.assessments tr:nth-child(even), .assessments .section:nth-child(even) {
    background-color: var(--color-dark-green-mid); 
}
.assessments tr:first-of-type, .assessments tr:last-of-type {
    background-color: var(--color-dark-green);
    font-size: 1.2em;
}
.assessments tr > * {
    padding: 1em 1em;
}

.assessments .section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 1em;
    border: 1px solid var(--color-dark-green);
}
.assessments .section p:nth-child(-n + 2) {
    grid-column-end: span 2;
}
.assessments .section .num {
    margin-bottom: 0;
    font-style: italic;
    font-size: 0.8em;
}
.assessments .section .name {
    margin-top: 0.5em;
    font-weight: bold;
}
.assessments .section p:nth-child(n + 3) {
    margin-top: 0;
}
.assessments .section .credits::after {
    content: " Credits";
}

.assessments .section.total p:nth-child(1), .section.total p:nth-child(4) {
    grid-column-end: span 1;
    grid-row: 1;
    font-weight: bold;
    font-size: 1em;
    font-style: normal;
    margin: 1em 0;
}
.assessments .section.total {
    background-color: var(--color-dark-green);
}

@media (min-width: 767px) {
    .course {
        padding: 2em 0.5em 2em 2em;
    }
    .assessments {
        font-size: 1rem;
        padding: 1em;
    }
    .text {
        margin: 0 15%;
    }
}
@media (min-width: 1024px) {
    .course-links {
        position: sticky;
        top: 1%;
        z-index: 100;

        flex-direction: row;
        justify-content: space-evenly;

        width: 75%;
        margin: 0 8% 0 17%;
        padding: 0.5em;
        background-color: var(--color-main-turq);
    }
    .course-links a {
        margin-bottom: 0;
    }
    .course-links.hidden {
        display: flex;
    }
    .menu {
        display: none;
    }
}