/***** Google Fonts Import *****/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Monoton&display=swap');

:root {
    --color-background: #DFEBF2;
    --color-main-turq: #5FD9D9;
    --color-dark-green: #025C5C;
    --color-accent-gold: #D9C162;
    --color-black: black;
    --color-white: white;
}

* {
    font-family: Lato;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--color-background);
    margin: 0px;

    font-size: 0.9rem;
}

button {
    background-color: var(--color-dark-green);
    color: var(--color-white);
    border: none;
    border-radius: 0.4em;

    padding: 1em 4em;
    cursor: pointer;
}

a, a:visited {
    text-decoration: none;
    color: white;
}

nav {
    background-color: var(--color-main-turq);

    position: sticky;
    top: 0px;
    z-index: 100;

    display: flex;
    justify-content: space-between;
}

.hamburger {
    background-color: blue;
    height: 2rem;
    width: 2rem;

    margin: 0.7em;
}

.hidden {
    display: none !important;
}

.dropdown {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    position: fixed;
    top: 7.5%;
    right: 0;
    z-index: 101;
    
    background-color: var(--color-main-turq);
}

.dropdown .title {
    grid-column: 1 / span 2;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
}

.dropdown .titleSpan {
    font-size: 2.5rem;
    align-self: flex-start;
    margin-left: 1rem;
}

.dropdown .poutama {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--color-dark-green);
}

.dropdown .poutama img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.dropdown .poutama p {
    background-color: var(--color-dark-green);
    color: white;
    text-decoration: underline;
    text-align: center;
    margin: -1px;
    font-size: 0.8rem;
    padding: 0.2em;
}

.poutama.top {
    grid-row-start: 1;
}

.poutama.middle {
    grid-row-start: 2;
}

.poutama.bottom {
    grid-row-start: 3;
}

.poutama.right {
    grid-column-start: 3;
}
.poutama.left {
    grid-column-start: 1;
}

.poutama.centre {
    grid-column-start: 2;
}

.logo img{
    margin: 0.3rem 0.5rem;
    height: 40px;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--color-main-turq);
    min-height: 250px;
}

.heroGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* height: 100vh; */
}

.heroItem {
    height: 25vh;
}

.poutama {
    background-color: var(--color-main-turq);
    border: 0.25rem var(--color-dark-green) solid;
}

footer .poutama {
    background-color: var(--color-dark-green);
    height: 80px;
}

footer .logo {
    grid-column: 1 / span 3;
    grid-row: 1;
    padding: 1rem;

    filter: invert(1);
}

footer .blurb {
    grid-row: 2;
    grid-column: 1 / span 2;
    margin-top: -2em;
    font-size: 0.8rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .blurb > p {
    width: 90%;
    margin: 0.5em auto;
    text-align: center;

    color: white;
}

footer button {
    background-color: var(--color-accent-gold);
    font-size: 0.7rem;
    padding: 0.4em 4em;
    margin: 0.5em auto;
    font-weight: bold;
}

footer button > a{
    color: var(--color-dark-green) !important;
}

footer .contact-info {
    grid-column: 2 / -1;
}

footer .contact-info > h5 {
    margin: 0.5em 0px;
    text-decoration: underline;
    font-weight: normal;
    text-align: center;
}

footer .contact-info > p {
    margin: 0.1em 0.5em;
    font-size: 0.8rem;
}

footer .external-links {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

    width: 75%;
    margin: 0 auto;
}

footer .external-links * {
    margin: 0px;
    scale: 0.8;
}

footer .links {
    display: flex;
    flex-direction: column;
    grid-row-start: 5;
}

footer > p {
    text-decoration: underline;
    font-size: 1rem;
    margin-left: 1em;
}

footer .links > p {
    font-weight: bold;
    text-align: center;
}

footer .links > a {
    margin: 0 0 15% 10%;
    color: black;
}

footer .links > a::before {
    content: "> ";
}

footer .links > a:hover {
    text-decoration: underline var(--color-accent-gold);
}

footer .copyright-notice {
    grid-column: 1 / -1;
    font-size: 0.5rem;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.title {
    grid-column: 1 / span 3;
    margin: 0px;
    text-align: center;
    line-height: 100%;

    font-family: Monoton;
    font-weight: normal;
    font-size: 5.5rem;
}

.subtitle {
    grid-column: 1 / span 2;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 100%;
}

.subtitle > h2 {
    justify-self: flex-start;
    margin: 0.2em;
    padding-bottom: 0.8em;
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
}

.scrollArrow {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-row-start: 3;
    margin: auto;
    cursor: pointer;
}

.scrollArrow > img {
    height: 5rem;
}

.scrollArrow > p {
    margin: 0.5rem;
}

.main-cta {
    margin: 3em;
    text-align: center;
}

.main-cta > * {
    justify-self: center;
}

.main-cta span, .main-cta p + p{
    font-weight: bold;
}

.groupsImg {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 75%;
}

.groupsImg > *{
    background-color: greenyellow;
    width: 33%;
    max-width: 200px;
    min-width: 100px;
    height: 125px;
    border: 5px black solid;

    margin: 0 auto;
}

.groupsImg > .mid {
    position: relative;
    z-index: 2; 
    scale: 1.1;
}

.groupsImg > .behind {
    position: relative;
}

.groupsImg > .behind.left {
    right: -5%;
}
.groupsImg > .behind.right {
    left: -5%;
}

.groupText {
    text-align: center;
    width: 60%;

    margin: 2em auto;
    padding: 0px 1rem;

    display: flex;
    flex-direction: column;
}

.staff-cta {
    padding-bottom: 3%;

    margin: 10px;
}

.staffHero {
    background-color: lightgreen;
    width: 100%;
    height: 200px;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.container-half {
    width: 50%;
    margin: 0 auto;
}

.desktop-only {
    display: none;
}

.image-embellishment {
    position: absolute;
    top: 115%;

    background-color: blue;
    border: 0.7em var(--color-accent-gold) solid;
    width: 20%;
    height: 35%;
}

.image-embellishment.left {
    left: -5%;
    transform: rotate(17deg);
}

.image-embellishment.right {
    right: -5%;
    transform: rotate(-17deg);
}

/*****************************************/
/*** MEDIA QUERIES ***/
/****************************************/
@media (min-width: 767px) {
    .desktop-only {
        display: block;
    }

    body {
        font-size: 1.5rem;
    }

    .heroGrid {
        grid-template-columns: 3fr 2fr 2fr 2fr;
    }

    .heroItem {
        height: 30vh;
    }

    .title {
        font-size: 8rem;
        letter-spacing: 3vw;
    }

    .subtitle > h2 {
        font-size: 5rem;
        margin-bottom: -0.1em;
    }

    .sections {
        display: flex;
        align-items: center;
    }

    .main-cta {
        margin: 15% 0 5% 0;
    }

    footer {
        grid-template-columns: 1fr 1fr 1fr 3fr 2fr;
        min-height: 250px;
    }

    footer .poutama {
        height: 100px;
    }

    footer .contact-info {
        grid-row-start: 2;
        grid-column: 3 / -1;
        justify-self: start;
    }

    footer .contact-info > p {
        font-size: 1.3rem;
    }

    footer .external-links {
        display: flex; 
        gap: 15%;
    }

    footer .external-links * {
        scale: 1;
    }

    footer .links {
        grid-row-start: 3;
        margin-top: 3em;
    }

    footer > p {
        grid-row-start: 3;
        font-size: 1.2rem;
    }
}