:root {
    /*** COLOUR VARIABLES ***/
    --color-background: #dfebf2;
    --color-background-faded: rgb(223, 235, 242, 0.5);
    --color-main-turq: #5fd9d9;
    --color-dark-green: #025c5c;
    --color-dark-green-light: rgb(2, 92, 92, 0.5);
    --color-dark-green-mid: rgb(2, 92, 92, 0.7);
    --color-accent-gold: #d9c162;
    --color-black: #000;
    --color-white: #fff;
}

/************************/
/*** WHOLE SITE STYLING ***/
/************************/
* {
    box-sizing: border-box;
    /* margin: 0; */
    font-family: Lato;
}

img {
    display: block;
    max-inline-size: 100%;
}
.credit-ac {
    position: relative;
}
.credit-ac::after, .credit-gw::after {
    content: "© Adrian Cartwright";
    font-size: 0.2em;
    position: absolute;
    bottom: 1%;
    right: 5%;
    z-index: 5;
    color: var(--color-white);
    opacity: 0.5;
}
.credit-gw::after {
    content: "© Grace Wright"
}

.poutama img {
    height: 100%;
    object-fit: cover;
}

html, body {
    overflow-x: clip;
}

body {
    margin: 0;
    background-color: var(--color-background);
    font-size: 1.2rem;
}
#index-body {
    background: linear-gradient(180deg, var(--color-main-turq) 30%, var(--color-background) 50%);
}

.btn {
    padding: 1em 3em;
    border-radius: 0.4em;

    background-color: var(--color-dark-green);
    color: var(--color-white);
    font-size: 0.65em;
    text-decoration: none;

    cursor: pointer;
}

.text-container {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
}

.desktop-only {
    display: none;
}

.txt-bold {
    font-weight: bold;
}

.bg-embel {
    position: absolute;
    z-index: -1; 

    overflow: visible;

    stroke: var(--color-accent-gold);
    stroke-width: 4px;
    fill: none;
}

.bg-embel#main-peaks {
    top: 123%;
}

.bg-embel#main-waves {
    top: 175%;
}

.poutama {
    width: 100%;
    border: 0.25rem var(--color-dark-green) solid;
    object-fit: cover;
    background-color: var(--color-dark-green);
}

.poutama.top {
    grid-row-start: 1;
}
.poutama.middle {
    grid-row-start: 2;
}
.poutama.bottom {
    grid-row-start: 3;
}
.poutama.right {
    grid-column-start: 3;
}
.poutama.left {
    grid-column-start: 1;
}
.poutama.centre {
    grid-column-start: 2;
}

.heroGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.heroItem {
    height: 25vh;
}

.title {
    grid-column: 1 / span 3;
    margin: 0;

    text-align: center;
    line-height: 100%;

    font-family: Monoton;
    font-weight: normal;
    font-size: 5rem;
    text-transform: uppercase;
}

.subtitle {
    grid-column: 1 / span 2;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 100%;
}

.subtitle > h2 {
    margin: 0.2em 0 0.5em 0;
    font-weight: normal; 
    font-size: 3rem;
}

.scrollArrow {
    grid-row-start: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    cursor: pointer;
}
.scrollArrow > p {
    margin: 0.5rem;
}

.main-cta {
    margin: 3em;
    text-align: center;
}

.groupsImg {
    display: flex;
    margin: 0 auto;
    width: 75%;
}

.groupsImg > *{
    width: 33%;
    max-width: 200px;
    border: 5px var(--color-black) solid;
}

.groupsImg .mid {
    z-index: 2; 
    scale: 1.1;
}

.groupText {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    padding: 0 1rem;

    text-align: center;
}

.staffHero {
    position: relative;
    width: 100%;
}
.stave {
    position: absolute;
}
.staffHero .stave {
    transform: translateY(-15%);
}

.notes-collection {
    display: flex;
}

.note {
    position: relative;
    width: 15%;
    height: 15%;
    rotate: -10deg;
}

.note-img {
    clip-path: ellipse(50% 35% at 50% 50%);
}

.note::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    scale: 1.1;
    background-color: var(--color-black);
    clip-path: ellipse(50% 35% at 50% 50%);
}

.staffHero .note:nth-child(1) {
    left: 10%;
    top: 1rem;
}
.staffHero .note:nth-child(2) {
    left: 30%;
    bottom: 0.5rem;
}
.staffHero .note:nth-child(3) {
    left: 50%;
    bottom: 1.5rem;
}

.image-embellishment {
    position: absolute;
    top: 110%; 
    width: 19%;
    border: 0.5em var(--color-accent-gold) solid;
}

.image-embellishment.left {
    left: -5%;
    transform: rotate(17deg);
}
.image-embellishment.right {
    right: -5%;
    transform: rotate(-17deg);
}

/*****************************************/
/*** MEDIA QUERIES ***/
/****************************************/
@media (min-width: 600px) {
    body {
        font-size: 1.3rem;
    }

    .staffHero .note:nth-child(1) {
        top: 1.5rem;
    }
    .staffHero .note:nth-child(2) {
        bottom: 1rem;
    }
    .staffHero .note:nth-child(3) {
        bottom: 2.5rem;
    }
}

@media (min-width: 450px) {
    .title {
        letter-spacing: 3vw;
    }
}

@media (min-width: 767px) {
    body {
        font-size: 1.7rem;
    }

    .btn {
        font-size: 1rem;
    }

    .desktop-only {
        display: block;
    }

    .bg-embel {
        stroke-width: 2px;
        opacity: 0.6;
    }
    .bg-embel#main-peaks {
        top: 100%;
    }
    .bg-embel#main-waves {
        display: none;
    }

    .heroGrid {
        grid-template-columns: 3fr 2fr 2fr 2fr;
    }
    
    .heroItem {
        height: 29.5vh;
    }

    .title {
        font-size: 10rem;
    }

    .subtitle > h2 {
        font-size: 6rem;
    }

    .sections {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .main-cta {
        margin: 10% 0 13% 0;
    }

    .groupText {
        font-size: 1.3rem;
    }

    .staffHero .note:nth-child(1) {
        top: 1.5rem;
    }
    .staffHero .note:nth-child(2) {
        bottom: 0.5rem;
    }
    .staffHero .note:nth-child(3) {
        bottom: 2.5rem;
    }
}