/* .header {
    position: relative;
    padding: 5em 0 6em 0;
    text-align: center;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

#staff-header::before {
    background-image: url(../assets/photos/headers/mrk-conducting-prizegiving-header.jpg);
}
#registration-header::before {
    background-image: url(../assets/photos/headers/guitar-sheetmusic-header.jpg);
}
#groups-header::before {
    background-image: url(../assets/photos/headers/volante-prizegiving-header.jpg);
}
#courses-header::before {
    background-image: url(../assets/photos/headers/guitar-sheetmusic-header.jpg);
}

.header .title {
    padding: 0.3em 0;
    background: linear-gradient(90deg, rgba(217, 193, 98, 0) 0%, rgba(217, 193, 98, 1) 7%, rgba(217, 193, 98, 1) 93%, rgba(217, 193, 98, 0) 100%);

    font-size: 3.5rem;
    letter-spacing: 1vw;
} */

.bg-embel.arrow {
    width: 100%;
}
.bg-embel#arrowDown {
    rotate: 180deg;
}

.diagonalPoutama {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 3em;
}

.diagonalPoutama .poutama {
    border: 0.8rem var(--color-accent-gold) solid;
}

.diagonalPoutama .middle {
    grid-column-start: 2;
}
.diagonalPoutama .bottom {
    grid-column-start: 3;
}

.diagonalPoutama .text {
    font-size: 1em;
    text-align: center;
    margin: auto 0;
    grid-column-end: span 2;
    padding: 1em 1em;
    background-color: var(--color-background-faded);
}

.diagonalPoutama .text.top {
    grid-column-start: 2;  
}
.diagonalPoutama .text.bottom {
    grid-column-start: 1;
}

.body-text {
    font-size: 0.9em;
}
.body-text > .group li + li {
    margin-top: 5%;
}

.instruments {
    position: sticky;
    top: 7%;
    align-self: start;
    padding-bottom: 1em;
    text-align: center;
}

.instrument-slideshow {
    display: flex;
    justify-content: center;
}

.chevron {
    cursor: pointer;
    scale: 2;
    margin: 0 1em;
}

.cards-container {
    display: flex;
    width: 40%;
    overflow-x: hidden;
}

.card {
    width: 100%;
}

.card img {
    border: 0.25rem var(--color-accent-gold) solid;
    object-fit: cover;
    width: 100%;
}

.card:not(.current) {
    display: none;
}

.instrument-name {
    background-color: var(--color-accent-gold);
    font-size: 1.2rem;
    padding: 0.5em;
    margin: 0;
}

.end-cta {
    margin: 1em 0;
    text-align: center;
}

@media (min-width: 767px) {
    .bg-embel.arrow {
        height: 40%;
    }
    .bg-embel#arrowUp {
        top: 135%;
    }

    .diagonalPoutama .text {
        padding: 2em 2em;
    }

    .body-text > .group {
        padding-top: 15%;
        height: 100vh;
    }
    .body-text > .group li + li {
        margin-top: 10%;
    }
}