.header {
    background-color: red;
    padding: 3.5em 0;
    text-align: center;
}

.header .title {
    font-family: Monoton;
    font-weight: normal;
    font-size: 3.5rem;
}

.header h2 {
    font-size: 1.5rem;
    margin: -1rem auto;
}



.diagonalPoutama {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.diagonalPoutama .poutama {
    background-color: blue;
    border: 0.8rem var(--color-accent-gold) solid;
    height: 140px;
}

.diagonalPoutama .middle {
    grid-row-start: 2;
    grid-column-start: 2;
}
.diagonalPoutama .bottom {
    grid-row-start: 3;
    grid-column-start: 3;
}

.diagonalPoutama .text {
    font-size: 1.3rem;
    text-align: center;
    margin: auto;
}

.diagonalPoutama .text.top {
    grid-column: 2 / span 2;
    
}

.diagonalPoutama .text.bottom {
    grid-row-start: 3;
    grid-column: 1 / span 2;
}

.body-text {
    margin: 10% 7%;
    text-align: center;
}
.instruments {
    text-align: center;

    padding-bottom: 5%;
}

.instrument-slideshow {
    display: flex;
    justify-content: center;
}

.chevron {
    scale: 2;
    margin: 0 1em;
}

.cards-container {
    display: flex;
    width: 50%;
    border: 0.125rem var(--color-accent-gold) solid;
    overflow-x: hidden;
}

.card {
    width: 100%;
}

.card:not(.current) {
    display: none;
    background-color: red;
}

.instrument-name {
    background-color: var(--color-accent-gold);
    font-size: 1.2rem;
    padding: 0.5em;
    margin: 0;
}

.end-cta {
    background-color: green;
    height: 75px;
    width: 300px;

    margin: 5% auto;
}
