/****************************************/
/*** STAFF ***/
/****************************************/
.staff-menu {
    position: sticky;
    top: 9%;
    z-index: 15;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0 1em;

    background-color: var(--color-dark-green);
    color: var(--color-white);
    font-size: 1.2rem;
}
.scroll-link:hover {
    text-decoration: underline;
}

.staff-interactive {
    position: relative;
    margin-bottom: 7%;
    height: 600vh;
}

.stave {
    position: absolute;
    top: 0;
    left: 0;
    width: 400vw;
    height: 100%
}

.staff-container {
    position: sticky;
    top: 25%;

    display: flex;
    gap: 10%;
    padding: 17vh 10%;
    max-height: 70vh;
}
.staff-container .instructions {
    position: absolute;
    bottom: -15%;
    left: 40%;
}

.notes-collection::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 95%;
    transform: translateX(-7%);
    background-image: url("../assets/graphics/double-barline.svg");
    background-repeat: no-repeat;
}

.collection-name {
    position: absolute;
    top: -10%;
    width: 100%;
    margin: 0;
    text-decoration: underline;
}

.staff-note {
    margin-right: 10em;
    width: 50vw;
    height: 50vw;

    cursor: pointer;
}
.staff-note:hover {
    scale: 1.2;
}
.staff-note:hover::before {
    background-color: var(--color-dark-green);
}

.line-e {
    transform: translateY(100%);
}
.line-g {
    transform: translateY(50%);
}
.line-b {
    transform: translateY(10%);
}
.line-d {
    transform: translateY(-50%);
}
.line-f {
    transform: translateY(-100%);
}
.space-f {
    transform: translateY(100%);
}
.space-a {
    transform: translateY(30%);
}
.space-c {
    transform: translateY(-20%);
}
.space-e {
    transform: translateY(-70%);
}

.chord {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
.chord > .staff-note {
    margin-bottom: -25%;
    scale: 0.7;
}
.chord > .staff-note:hover {
    scale: 0.8;
}

.note-img {
    width: 100%;
    clip-path: ellipse(50% 35% at 50% 50%);
}

.note-img.no-img {
    filter: invert(1);
    scale: 0.5;
    clip-path: ellipse(75% 75% at 50% 50%);
}

.bar-lines {
    position: absolute;
    left: 3%;
    bottom: 0;
    scale: -1;
}

.info-card-show {
    display: block;
}
staff-info-card {
    display: none;
}


@media (min-width: 450px) {
    .staff-note {
        margin-right: 7em;
        width: 25vw;
        height: 25vw;
    }
}

@media (min-width: 767px) {
    .staff-note {
        margin-right: 7em;
        width: 15vw;
        height: 15vw;
    }
}
